* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #242533;
    --secondary-color: aquamarine;
    --background-color: lightgray;
  }

/* Body Style */
body{
    color: var(--primary-color);
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

section{
    padding: 20px;
}

/* Header Style */
header{
    padding: 20px 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 10px 10px 10px 8vw;
}

header a{
    color: var(--primary-color);
    text-decoration: none;
}

header nav{
    margin: auto 0;
    padding-right: 8vw;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    color: var(--secondary-color);
    margin: 10px 15px;
    border-bottom: 3px solid;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Hero Style */
.hero{
    background-image: url(../images/hero-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-tagline{
    width: auto;
    text-align: center;
    margin: auto;
    line-height: 1.2;
}

.hero-tagline h2{
    font-size: 45px;
    margin: 130px 0px 0px 140px;
    color: var(--primary-color);
    padding: 10px;
    background-color: var(--secondary-color);
}

.hero-img{
    padding: 10px;
    width: 40%;
    margin: 0;
}

.hero-img img{
    width: 30%;
}

/* group titles */
.section-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 48px;
    color: var(--primary-color);
    border-right: 3px solid;
    padding: 20px;
    text-align: right;
    margin: 0 auto 0px 15vw;
}

/* about me */
.about-me {
    display: flex;
    justify-content: space-between;
}

.about-me p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
}

/* work */
.work{
    background: var(--background-color);
    display: flex;
}

/* Footer Style */
footer{
    padding: 20px;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
}

footer a{
    color: var(--primary-color);
    text-decoration: none;
}

footer nav{
    margin: auto 0;
    padding-right: 8vw;
}

footer nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer nav ul li a{
    color: var(--primary-color);
    margin: 10px 15px;
    border-bottom: 3px solid;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* utility classes */
.flex-row{
    display: flex;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header{
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1{
        width: 100%;
        text-align: center;
    }

    header nav ul{
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li{
        font-size: 20px;
    }

    footer h2, footer div{
        text-align: center;
        width: 100%;
    }

    .hero-cta, .hero-form{
        width: 100%;
    }

    .hero-cta{
        text-align: center;
    }

    .section-title{
        width: 80%;
    }

    .trainer{
        flex: 0 70%;
    }

    .contact-info iframe{
        flex: 1 100%;
    }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section{
        padding: 30px 15px;
    }

    .step h3{
        flex: 1 100%;
        text-align: center;
    }

    .step-info{
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img{
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text{
        flex: 100%;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button{
        width: 100%;
    }

    .section-title{
        width: 95%;
    }

    .intro p{
        width: 100%;
    }

    .trainer{
        flex: 0 100%;
    }

    .contact-info{
        text-align: center;
    }

    .contact-info > *{
        flex: 0 100%;
    }

    .contact-form{
        order: 3;
    }
  }