* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #242533;
    --secondary-color: aquamarine;
    --background-color: lightgray;
  }

/* Body Style */
body{
    color: var(--primary-color);
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
}

section{
    padding: 20px;
}

/* Header Style */
header{
    padding: 20px 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1{
    font-weight: bold;
    font-size: 36px;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 10px 10px 10px 8vw;
}

header a{
    color: var(--primary-color);
    text-decoration: none;
}

header nav{
    margin: auto 0;
    padding-right: 8vw;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    color: var(--secondary-color);
    margin: 10px 15px;
    border-bottom: 3px solid;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* Hero Style */
.hero{
    background-image: url(../images/hero-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-position-y: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    padding-top: 15vw;
}

.hero-tagline{
    position: absolute;
    width: auto;
    text-align: center;
    margin: auto;
    line-height: 1.2;
    bottom: 30px;
    right: 30px
}

.hero-tagline h2{
    font-size: 2vw;
    color: var(--primary-color);
    padding: 10px;
    background-color: var(--secondary-color);
}

/* group titles */
.section-title{
    font-size: 48px;
    color: var(--primary-color);
    border-right: 3px solid;
    padding: 20px;
    text-align: right;
    margin: 0 auto 0px 15vw;
}

/* about me */
.about-me {
    display: flex;
    justify-content: space-between;
}

.bio-info {
    display: flex;
    flex-direction: column;
}

.bio-img {
    display: flex;
    justify-content: center;
}

.bio-img img{
    width: 10%;
}

.about-me p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
}

/* work */
.work{
    background: var(--background-color);
    display: flex;
}

/* projects */
.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 100px 0 100px;
    width: 550%;
}

.surf-report {
    background-image: url(../images/surf-report.webp);
    background-position: center;
    color: var(--secondary-color);
    height: 500px;
    border: 10px solid;
    position: relative;
    margin-bottom: 20px;
    opacity: 90%;
}

.surf-report:hover {
    opacity: 100%;
}

.project-text {
    position: absolute;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px;
    width: auto;
    bottom: 30px;
}

.project-group-1, .project-group-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.led-wall {
    background-image: url(../images/led-wall.jpeg);
    background-position: center;
    color: var(--secondary-color);
    height: 200px;
    width: 225%;
    border: 10px solid;
    position: relative;
    margin-right: 10px;
    margin-bottom: 20px;
    opacity: 90%;
}

.led-wall:hover {
    opacity: 100%;
}

.calc {
    background-image: url(../images/calc.webp);
    background-position: center;
    color: var(--secondary-color);
    height: 200px;
    width: 225%;
    border: 10px solid;
    position: relative;
    margin-left: 10px;
    margin-bottom: 20px;
    opacity: 90%;
}

.calc:hover {
    opacity: 100%;
}

.pastel-puzzles {
    background-image: url(../images/puzzle.webp);
    background-position: center;
    color: var(--secondary-color);
    height: 200px;
    width: 225%;
    border: 10px solid;
    position: relative;
    margin-right: 10px;
    opacity: 90%;
}

.pastel-puzzles:hover {
    opacity: 100%;
}

.run-buddy {
    background-image: url(../images/run-buddy.jpeg);
    background-position: center;
    color: var(--secondary-color);
    height: 200px;
    width: 225%;
    border: 10px solid;
    position: relative;
    margin-left: 10px;
    opacity: 90%;
}

.run-buddy:hover {
    opacity: 100%;
}

/* Footer Style */
footer{
    padding: 20px;
    background: var(--background-color);
    display: flex;
    justify-content: space-between;
}

footer a{
    color: var(--primary-color);
    text-decoration: none;
}

footer nav{
    margin: auto 0;
    padding-right: 8vw;
}

footer nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

footer nav ul li a{
    color: var(--primary-color);
    margin: 10px 15px;
    border-bottom: 3px solid;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* utility classes */
.flex-row{
    display: flex;
}


/* media query */
@media screen and (max-width: 980px) {
    header{
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1{
        width: 100%;
        text-align: center;
        padding: none;
    }

    header nav {
        padding-right: 0;
    }

    header nav ul{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        justify-content: center;
        align-content: center;
    }

    .project-group-1, .project-group-2 {
        flex-direction: column;
    }

    .led-wall {
        height: 200px;
        width: auto;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .calc {
        height: 200px;
        width: auto;
        margin-left: 0;
        margin-bottom: 20px;
    }
    
    .pastel-puzzles {
        height: 200px;
        width: auto;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .run-buddy {
        height: 200px;
        width: auto;
        margin-left: 0;
    }
}
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    .about-me {
        flex-direction: column;
        justify-content: center;
    }

    .work {
        flex-direction: column;
        justify-content: center;
    }

    footer {
        flex-direction: column;
        justify-content: center;
    }

    .section-title {
        border-right: none;
        border-bottom: 3px solid;
        margin: auto auto 20px auto;
    }

    .projects {
        width: auto;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .section-title {
        font-size: 36px;
    }
  }